<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/base :: head">
    <title>用户管理 - 仪表板</title>
</head>
<body>
<div th:replace="layout/base :: nav"></div>

<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h4 class="mb-0">用户管理仪表板</h4>
                </div>
                <div class="card-body">
                    <p>欢迎来到用户管理中心。请选择您要执行的操作：</p>

                    <div class="list-group">
                        <a th:href="@{/admin/users/delete}" class="list-group-item list-group-item-action">
                            用户删除管理
                        </a>

                        <a th:href="@{/admin/users/reset-password}" class="list-group-item list-group-item-action">
                            用户密码重置管理
                        </a>

                        <a href="#" class="list-group-item list-group-item-action">
                            查看所有用户列表 (基础)
                        </a>
                        <a href="#" class="list-group-item list-group-item-action">
                            用户角色管理
                        </a>
                        <!--<a th:href="@{/admin/users/list}" class="list-group-item list-group-item-action">-->
                        <!--    查看所有用户列表 (基础)-->
                        <!--</a>-->
                        <!--<a th:href="@{/admin/users/roles}" class="list-group-item list-group-item-action">-->
                        <!--    用户角色管理-->
                        <!--</a>-->

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="layout/base :: footer"></div>

</body>
</html>